
.checkout-item-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  min-height: 100px;
  // min-height: 7em;
  border-bottom: 1px solid darkgrey;
  padding: 0.9375rem 0;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  // gap: calc(5vh + 5px) calc(5vw + 5px);
  

  .checkout-item-details {
    width: 77%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // gap: 1rem;
    // flex: 1 1 auto;
  }

  .image-container {
    width: 23%;
    padding-right: 0.9375rem;
    
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .name,
  .quantity,
  .price,
  .remove-button {
    width: 23%;
    text-align: center;
    align-self: center;
  }

  .quantity {
    display: flex;
    justify-content: space-between;

    .arrow {
      cursor: pointer;
      padding-left: .8rem;
      padding-right: .8rem;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}